<!DOCTYPE HTML>
<html>
    <head>
        <title>Concole</title>
    </head>
    <body>
        <h1>Concole</h1>
        <form>
            <input type='button' style="font-size:15pt; width:100px; height:40px;
            margin-right: 10px" value="리셋"/>
            <input type='button' style="font-size:15pt; width:100px; height:40px;
            margin-right: 10px" value="시작"/>
            <input type='button' style="font-size:15pt; width:100px; height:40px;
            margin-right: 10px" value="정지"/>
        </form>
        <div style="margin-left:250px">
            <h3><a href="Main">돌아가기</a></h3>
        </div>
    </body>
</html>